In [2]:
import pandas as pd
from unidecode import unidecode
import requests
from io import StringIO

In [4]:
url = 'https://fbref.com/en/squads/4ba7cbea/2023-2024/Bournemouth-Stats#all_stats_defense'
html_content = requests.get(url).text.replace('<!--', '').replace('-->', '')
df = pd.read_html(StringIO(html_content))

In [14]:
df[8].columns=df[8].columns.droplevel(0)

In [16]:
data = df[8]

In [22]:
data = data.iloc[:-2]

In [26]:
df_after_column_removal=data.drop(columns=['Sh', 'Pass', 'Err', 'Matches'])

In [28]:
data1 = df_after_column_removal[df_after_column_removal['Pos'] == 'DF']

In [38]:
data1 = data1[data1['90s'] >= 24.0]

In [42]:
finaldf = data1

In [44]:
finaldf=finaldf.drop(columns=['Att', 'Tkl', 'Lost'])

In [48]:
finaldf['TklW']=finaldf['TklW']/finaldf['90s']
finaldf['Def 3rd']=finaldf['Def 3rd']/finaldf['90s']
finaldf['Mid 3rd']=finaldf['Mid 3rd']/finaldf['90s']
finaldf['Att 3rd']=finaldf['Att 3rd']/finaldf['90s']
finaldf['Blocks']=finaldf['Blocks']/finaldf['90s']
finaldf['Int']=finaldf['Int']/finaldf['90s']
finaldf['Tkl+Int']=finaldf['Tkl+Int']/finaldf['90s']
finaldf['Clr']=finaldf['Clr']/finaldf['90s']

In [54]:
finaldf['Player']=finaldf['Player'].apply(unidecode)

In [60]:
Arg = (finaldf['Nation'] == 'ar ARG')
finaldf.loc[Arg, 'Nation'] = 'Argentina'

Ukr = (finaldf['Nation'] == 'ua UKR')
finaldf.loc[Ukr, 'Nation'] = 'Ukraine'

In [66]:
finaldf.insert(0, 'SN', range(1, len(finaldf) + 1))

In [68]:
finaldf

,SN,Player,Nation,Pos,Age,90s,TklW,Def 3rd,Mid 3rd,Att 3rd,Tkl%,Blocks,Int,Tkl+Int,Clr
0,1,Illia Zabarnyi,Ukraine,DF,20.0,37.0,0.864865,0.783784,0.783784,0.027027,46.0,1.432432,0.891892,2.486486,3.864865
5,2,Marcos Senesi,Argentina,DF,26.0,24.9,1.285141,1.124498,0.923695,0.160643,42.9,2.008032,1.405622,3.614458,4.377510

In [70]:
afcbfinaldata = finaldf

In [72]:
afcbfinaldata.to_excel(r'E:\afcbfinaldata.xlsx', index=False)